<div class="title-header">Log in</div>
<div class="form-container">

<%= form_with url:sessions_path do |f| %>

<div><%= f.label :username %></div>
<div><%= f.text_field :username,:autocomplete => :off%></div>
<div><%= f.label :password %></div>
<div><%= f.password_field :password %></div>

<div><%= f.submit "Log in"%></div>
<% end %>
</div>
