<div class="form-container">

<%= form_for @user do |f| %>
<div><%= f.label :first_name, "First Name" %></div>
<div><%= f.text_field :first_name %></div>
<div><%= f.label :last_name, "Last Name" %></div>
<div><%= f.text_field :last_name %></div>
<div><%= f.label :username %></div>
<div><%= f.text_field :username %></div>
<div><%= f.label :password %></div>
<div><%= f.password_field :password %></div>
<div><%= f.label :image_url, "Image URL" %></div>
<div><%= f.text_field :image_url %></div>
<div><%= f.label :github_link, "Github Link" %></div>
<div><%= f.text_field :github_link %></div>
<div><%= f.label :cohort_id %></div>
<div><%= f.collection_select :cohort_id, @cohorts, :id, :name %></div>
<div><%= f.submit%></div>
<% end %>


</div>
