<h1><%= @user.full_name %></h1>
<div><%= image_tag @user.image_url %> </div>


<div>
<li>Cohort <%= link_to @cohort.name, @cohort %></li>
<li><%=link_to" #{@user.first_name}'s Github", @user.github_link  %></li>
</div>
<h2>Projects:</h2>


<% @projects.each do |project| %>
<div><%= image_tag project.image_url %></div>
<h3>Module <%= project.mod_created %> Project:</h3>
<div>
<li><%= project.title %></li>

<li><%= link_to project.github_link, project.github_link %></li>
</div>

<% end %>
