<h1><%= @user.full_name %></h1>
<%= link_to "New Project", new_user_project_path(@user) %>
<%= link_to "Edit User", edit_user_path(@user) %>
<%= link_to "Log out", sessions_path, method: :delete %>
<%# link_to "Delete",@user, method: :delete %>

<div>
<li>Cohort <%= link_to @cohort.name, @cohort %></li>
<li><%=link_to" #{@user.first_name}'s Github", @user.github_link  %></li>
</div>
<h2>Projects:</h2>


<% @projects.each do |project| %>
<div><%= image_tag project.image_url %></div>
<h3>Module <%= project.mod_created %> Project:</h3>
<div>
<li><%= project.title %></li>

<li><%= link_to project.github_link, project.github_link %></li>
</div>
<div><%= image_tag @user.image_url %> </div>
<% end %>
