<div class="title-header">
<% if @cohort.current_mod <= 5 %>
<div>Cohort <%= @cohort.name %></div>
<div>Current Mod: <%= @cohort.current_mod %></div>
<% else %>
<div>Cohort <%= @cohort.name %></div>
<div>Graduated</div>
<% end %>
</div>
<div class="student-index-container">
<% @users.each do |user| %>
<div class="student-info-container mod<%=@cohort.current_mod%>">
<div class="profile-thumbnail"><%= image_tag user.image_url %></div>
<div><%= link_to user.full_name, user%></div>
</div>
<% end %>
</div>
