<%= form_for @project do |f| %>

<div><%= f.label :title, "Title"%></div>
<div><%= f.text_field :title %></div>

<div><%= f.label :mod_created, "Created in Mod" %></div>
<div><%= f.collection_select :mod_created,  %></div>

<div><%= f.label :github_link, "Github Link" %></div>
<div><%= f.text_field :github_link %></div>

<div><%= f.label :image_url, "Image URL" %></div>
<div><%= f.text_field :image_url %></div>

<div><%# f.label :user_ids, "User" %></div>
<div><%# f.collection_select :user_ids, @users, :id, :full_name %></div>

<div><%= f.submit%></div>
<% end %>
