<h1>Hello <%= @user.full_name %>!</h1>
<div class="account-buttons">
<%= button_to "New Project", new_user_project_path(@user), method: :get %>
<%= button_to "Edit User", edit_user_path(@user), method: :get %>
<%= button_to "Delete User",@user, method: :delete, data: {confirm: "Are you sure you want to delete your account?" } %>
</div>
<div class="student-index-container">



<% @projects.each do |project| %>
<div class="student-info-container mod<%=project.mod_created%>">
  <div class="student-info-top">
    <%= image_tag project.image_url, class:"project-thumbnail" %>
  </div>
  <div class="student-info-bottom">
    <p><%=project.title%></p>
    <p>Created in Mod <%=project.mod_created%></p>
    <%= link_to "Edit", edit_user_project_path(user_id: @user, id: project) %>
    <%= link_to "Delete", user_project_path(user_id: @user, id: project) , method: :delete %>
  </div>
</div>
<% end %>


</div>
